html,
body {
  margin: 0;
  height: 100vh;
  background: #eee;
  padding: 0;
}

#root {
  padding-top: 19px;
  height: 100%;
}

#messages-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.auth-container__center {
  height: 90%;
  display: flex;
  justify-content: center;
}

.messages-container {
  margin-left: 350px;
}

.messages {
  flex-grow: 1;
  overflow-y: scroll;
}

.message__form {
  bottom: 1em;
  margin-left: 320px;
  z-index: 200;
}

.message__self {
  border-left: 2px solid orange;
  padding-left: 8px;
}

.message__image {
  padding: 1em;
}

.scroll {
  position: absolute;
  bottom: 0;
}

.icon__add-channel:hover {
  color: white;
  cursor: pointer;
}

.menu {
  padding-bottom: 2em;
  padding-top: 1em;
}

.color__container {
  position: relative;
  overflow: hidden;
  width: 35px;
  border-radius: 3px;
}

.color__container:hover {
  cursor: pointer;
}

.color__square {
  width: 35px;
  height: 35px;
}

.color__overlay {
  width: 85px;
  height: 35px;
  transform: rotate(225deg);
}

.user__typing {
  font-style: italic;
  font-weight: bold;
  margin-right: 3px;
}

.typing {
  width: 5em;
  height: 2em;
  position: relative;
  padding: 10px;
  margin-left: 5px;
  background: #e6e6e6;
  border-radius: 20px;
}

.typing__dot {
  float: left;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background: #8d8c91;
  border-radius: 50%;
  opacity: 0;
  animation: loadingFade 1s infinite;
}

.typing__dot:nth-child(1) {
  animation-delay: 0s;
}

.typing__dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing__dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loadingFade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
  }
}
