html,
body {
  margin: 0;
  height: 100vh;
  background: #eee;
  padding: 0;
}

#root {
  padding-top: 19px;
  height: 100%;
}

#messages-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.auth-container__center {
  height: 90%;
  display: flex;
  justify-content: center;
}

.messages {
  flex-grow: 1;
  overflow-y: scroll;
}

.message__form {
  bottom: 1em;
  margin-left: 320px;
  z-index: 200;
}

.message__self {
  border-left: 2px solid orange;
  padding-left: 8px;
}

.message__image {
  padding: 1em;
}

.scroll {
  position: absolute;
  bottom: 0;
}

.icon__add-channel:hover {
  color: white;
  cursor: pointer;
}

.menu {
  padding-bottom: 2em;
  padding-top: 1em;
}

#modal_color-picker {
  max-width: 310px;

  flex-direction: column;
}
